<h2>User Profile</h2>
<div class="row">
  <div class="col-md-3">
    <img src="<%= @user.image.url(:thumb) %>" class="thumbnail">
    <b>Name:</b> <%= @user.name %><br>
    <b>Bio:</b> <%= @user.bio %>
  </div>
</div>

<h3><%= @user.name %>'s Photos</h3>
<div class="row">
  <% @user.photos.each do |photo| %>
    <div class="col-xs-6 col-md-3">
      <a href="/photos/<%= photo.id %>" class="thumbnail">
        <img src="<%= photo.image.url(:thumb) %>">
      </a>
    </div>
  <% end %>
  <% if current_user == @user %>
    <%= button_to 'Edit My Profile', edit_user_path(@user), {class: "btn btn-default", method: "get"} %>
  <% end %>

</div>
