<h3>Edit Your Cat Photo</h3>

<div class="row">

  <div class="col-md-2"></div>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <img src="<%= @photo.image.url(:medium) %>">
    </span>
  </div>

<%= form_for @photo do |f| %>

  <%= f.label :caption %>
  <%= f.text_field :caption %><br><br>

  <%= f.label :choose_tags %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br><br>

  <%= f.label :add_new_tags %>
  <%= f.fields_for :tags do |tags_fields| %>
    <%= tags_fields.text_field :name, value: nil %>
  <% end %>
  <br><br>

  <%= f.submit %>

<% end %>
</div>
