<div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <img src="<%= @photo.image.url(:medium) %>">
    </span>
    <a href="photos/add_vote">
      <i class="icon-heart"></i> Vote
    </a>

   
  </div>
  <div class="col-md-4">
        "<%= @photo.caption %>"<br>
        Posted by <%= @photo.user.name %><br><br>
        Tags: <% @photo.tags.each do |tag| %>
          <span class="label label-default"><%= tag.name %></span>
        <% end %><br><br>
        <%= @photo.votes %> votes<br>
  </div>
</div>
