<div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <img src="<%= @photo.image.url(:medium) %>">
    </span>

    <%= button_to photo_vote_path(id: @photo.id), {remote: true, class: "btn btn-default"} do %>
       <i class="icon-heart"></i> Vote
    <% end %>
  </div>

<div class="col-md-4">
  "<%= @photo.caption %>"<br>
  Posted by <%= link_to @photo.user.name, user_path(@photo.user) %><br><br>
  Tags: <% @photo.tags.each do |tag| %>
    <span class="label label-default"><%= tag.name %></span>
  <% end %><br><br>
  <%= @photo.votes %> votes<br>
  </div>
</div>
