<!DOCTYPE html>
<html>
  <head>
    <title>Catstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logobox">
      <!-- header -->
      <h1><%= image_tag("cat_icon2.gif", :alt => "cat icon") %> Catstagram</h1>
      <!-- nav -->
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <% if logged_in? %>
          <li role="presentation"> <%= link_to "Log-Out", signout_path, method: :delete %> </li>

          <li role="presentation"><a href="/photos/new">Add a Cat</a></li>
          <li role="presentation" class="pull-right"><%= link_to "Hi #{current_user.name.capitalize}", user_path(current_user) %> </li>
        <% else %>
          <li role="presentation"><a href="/signin">Sign-In</a></li>
          <li role="presentation"><a href="/signup">Sign-Up</a></li>
        <% end %>
      </ul>
<br><br>
      <br>
      <br>
      <%= yield %>
    </div>

  </body>
</html>
