<!DOCTYPE html>
<html>
  <head>
    <title>Catstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logobox">
      <h1><%= image_tag("cat_icon2.gif", :alt => "cat icon") %> Catstagram</h1>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#" class="nav">Home</a></li>
        <li role="presentation"><a href="#">Log-In</a></li>
        <li role="presentation"><a href="#">Sign-Up</a></li>
      </ul>
      <br>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
